<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYSQL FULL DATA VALIDATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        var resultDisplayed = {{ 'true' if result else 'false' }};
    </script>
</head>

<body>
    <div class="container">
        <h1>MYSQL FULL DATA VALIDATION</h1>
        <button id="startButton" onclick="startValidation()">Start Validation</button>
         <div class="TIME">
                <p>System Time: <span id="system_time"></span></p>
            </div>
        <div id="result" class="result" style="visibility:hidden;">
            <h2>Result:</h2>
            <p>Validation successfully completed.</p>
            <div class="TIME">
                <p>Elapsed Time: <span id="elapsed_time"></span></p>
            </div>
        </div>
    </div>
    <script>
        function startValidation() {
            startStopwatch();
            fetch('/004_MYSQL_full-data-validation', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    stopStopwatch();
                    document.getElementById("result").style.visibility = "visible";
                    updateTime(); // Update system time when results are displayed
                })
                .catch(error => console.error('Error:', error));
        }

        window.onload = function() {
            updateTime();
            setInterval(updateTime, 1000);
        }
    </script>
    <style>
        .result {
            margin-top: 20px;
        }

        .container {
            text-align: center;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        #result {
            border: 1px solid #ccc;
            padding: 20px;
        }
    </style>
</body>

</html>

