<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Validation Automation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>DATA VALIDATION AUTOMATION</h1>
        <div class="button-container">
            <a href="/001_AWS_null-validation-full-schema" class="button">AWS Full Schema Null Validation</a>
            <a href="/002_AWS_null-validation-specific-table" class="button"> AWS Specific Table Null Validation</a>
            <a href="/003_AWS_primary-key-check" class="button">AWS Primary Key Check</a>
            <a href="/004_AWS_full-data-validation" class="button">AWS Full Data Validation</a>
        </div>
    </div>
</body>
</html>
