<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Validation Automation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>DATA VALIDATION AUTOMATION</h1>
        <div class="button-container">
            <a href="/CSV vs AWS" class="button">CSV vs AWS</a>
            <a href="/CSV vs MySQL" class="button">CSV vs MySQL</a>
            <a href="/JSON vs AWS" class="button">JSON vs AWS</a>
            <a href="/JSON vs MySQL" class="button">JSON vs MySQL</a>
        </div>
    </div>
</body>
</html>
