<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Validation Automation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>FILE VALIDATION AUTOMATION</h1>
        <div class="button-container">
            <a href="/file_001_csv_csv" class="button">CSV vs CSV</a>
            <a href="/file_002_csv_json" class="button">CSV vs JSON</a>
            <a href="/file_003_csv_parquet" class="button">CSV vs PARQUET</a>
            <a href="/file_004_json_json" class="button">JSON vs JSON</a>
            <a href="/file_005_json_parquet" class="button">JSON vs PARQUET</a>
            <a href="/file_006_parquet_parquet" class="button">PARQUET vs PARQUET</a>
        </div>
    </div>
</body>
</html>
