<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Validation Automation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>DATA VALIDATION AUTOMATION</h1>
        <div class="button-container">
            <a href="/aws" class="button">AWS Validation</a>
            <a href="/mysql" class="button">MySQL Validation</a>
            <a href="/bi-performance-testing" class="button">BI Performance Testing</a>
            <a href="/file-validation" class="button">File to File Validation</a>
            <a href="/file-to-database-validation" class="button">File to Database Validation</a>
            <a href="/bi-Validation-download" class="button">Dashboard Testing</a>
            <a href="https://app.powerbi.com/groups/me/reports/90bc58a5-c28b-4d4b-86f0-b4c6d4435c36/b7d6e25bd91179dfb0c6?action=OpenReport&pbi_source=ChatInTeams" class="button">TEST RESULT DASHBOARD</a>
        </div>
    </div>
</body>
</html>
