/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

h2 {
  color: #555;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: calc(100% - 150px);
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  padding: 12px 30px;
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #218838; /* Darker green */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #fff3cd; /* Yellow */
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ffeeba; /* Lighter yellow */
  border-radius: 5px;
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 180px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745; /* Green */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .container {
  background-color: #444;
  color: #fff;
}

.dark-mode h1, .dark-mode h2 {
  color: #eee;
}

.dark-mode li {
  background-color: #555;
  color: #eee;
  border-color: #666;
}

.dark-mode .slider {
  background-color: #888;
}

.dark-mode .slider:before {
  background-color: #333;
}
